* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  height: 80px;
  margin-top: 40px;
  position: fixed;
  z-index: 1;
}

.container__menu {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo img {
  width: 60px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu ul {
  display: flex;
}

.menu ul li {
  list-style: none;
  margin-left: 36px;
}

.menu ul li a {
  text-decoration: none;
  font-size: 16px;
  color: black;
  text-transform: uppercase;
}

.cover {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container__cover .text {
  max-width: 400px;
  margin-top: 10%;
}

.container__cover .text h1 {
  font-size: 36px;
  font-weight: 600;
}

.container__cover .text p {
  font-size: 18px;
  margin-top: 40px;
}

.container__cover .text input {
  padding: 18px 80px;
  border: none;
  font-size: 16px;
  border-radius: 50px;
  margin-top: 40px;
  color: #fff;
  cursor: pointer;
  box-shadow: 1px 1px 30px -12px #100672;
  background: rgb(230,237,253);
  background: linear-gradient(145deg, rgba(230,237,253,1) 0%, rgba(16,6,114,1) 100%);
  );
  transition: all 300ms;
}

.container__cover .text input:hover {
  box-shadow: 1px 1px 30px -6px #100672;
}

.container__cover .svg img {
  margin-top: 25%;
  width: 600px;
  animation: move-vector 3s linear infinite;
}

@keyframes move-vector {
  0% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(15px);
  }
}


/*<--------- login -------->*/

.cover__login{
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container__login .text {
  max-width: 400px;
  margin-top: 10%;
  margin-left: 36px;
}

.container__login .text h1 {
  font-size: 36px;
  font-weight: 600;
}

.container__login .text p {
  font-size: 18px;
  margin-top: 40px;
}
